# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [51]:
import pandas as pd

data1 = pd.read_csv('movies.csv')
data2 = pd.read_csv('ratings.csv')

merged_inner = pd.merge(left=data1,right=data2, left_on='movieId', right_on='movieId')


a = merged_inner[['title', 'rating']]

a = a [ a.rating == 5.0 ]

a.groupby('title').count().sort_values('rating', ascending=False).head(1)

                                  rating
title
Shawshank Redemption, The (1994)     153

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [30]:
import pandas as pd

data = pd.read_csv('power.csv')
total_quantity = 0

b = data [ ((data.country == 'Latvia') | (data.country == 'Lithuania') | (data.country == 'Estnonia')) & ((data.category == 4) | (data.category == 12) | (data.category == 21)) & ( (data.year >= 2005) & (data.year <= 2010) & (data.quantity >= 0 )) ]

total_quantity = b['quantity'].sum()

total_quantity

177140.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [41]:
import pandas as pd

page_url = 'https://www.finam.ru/quotes/currencies/'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url)[0]

df[:10]

,Unnamed: 0,Инструмент,Посл. сделка,% Изм. цены,Открытие,Макс.,Мин.,Закрытие,"Объем, шт.",Время обн.
0,NaN,Eur/Chf,1.0721 CHF,0.16%,1.0707,1.0724,1.0706,1.0704,NaN,06.02 13:06
1,NaN,Eur/Jpy,120.82 JPY,0.05%,120.7780,121.0220,120.7230,120.7600,NaN,06.02 13:06
2,NaN,Eur/Usd,1.1002 $,0.04%,1.0998,1.1014,1.0994,1.0998,NaN,06.02 13:06
3,NaN,Usd/Chf,0.9744 CHF,0.11%,0.9734,0.9750,0.9731,0.9733,NaN,06.02 13:06
4,NaN,Gbp/Usd,1.2974 $,-0.2%,1.3001,1.3002,1.2968,1.3000,NaN,06.02 13:06
5,NaN,Usd/Jpy,109.8 JPY,-0.01%,109.8000,109.9800,109.7100,109.8100,NaN,06.02 13:06
6,NaN,Usd/Cad,1.3283 CAD,0.02%,1.3282,1.3288,1.3276,1.3280,NaN,06.02 13:06
7,NaN,Aud/Nzd,1.043 NZD,0.1%,1.0419,1.0448,1.0414,1.0420,NaN,06.02 13:06
8,NaN,Индекс доллара*,98.15 $,-0.01%,98.1800,98.2100,98.0800,98.1600,NaN,06.02 13:05
9,NaN,Aud/Usd,0.6744 $,-0.03%,0.6746,0.6765,0.6738,0.6746,NaN,06.02 13:06